
*.aps
#*.dll

DemoApp-C++/.vs
DemoApp-C++/x64
DemoApp-C++/Debug
DemoApp-C++/Release
DemoApp-C++/DemoApp/x64
DemoApp-C++/DemoApp/Debug
DemoApp-C++/DemoApp/Release
DemoApp-C++/SDK

DemoApp-C#/.vs
DemoApp-C#/DemoApp/.vs
DemoApp-C#/DemoApp/obj